.main {
  width: max-content;
  min-height: 100vh;
  display: flex;
  gap: 6rem;
  padding: 0 6rem;
}

.periodic {
  --table-cols-compact: 18;
  --first-row-compact: var(--table-cols-compact);
  --second-row-compact: 13;

  --table-cols: calc(var(--table-cols-compact) + 14);
  --first-row: var(--table-cols);
  --second-row: calc(var(--second-row-compact) + 14);
  --third-row: 17;

  display: grid;
  grid-template-columns: repeat(var(--table-cols), 1fr);
  gap: 0.75rem;
  margin: auto 0;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(var(--foreground-rgb-on));
  font-size: 1rem;
  height: 5.5em;
  aspect-ratio: 4 / 5;
  border-radius: 0.75em;
  text-align: center;
  padding: 0 0.75em;
}
.element:nth-child(2) { 
  grid-column: var(--first-row);
}
.element:nth-child(5),
.element:nth-child(13) {
  grid-column: var(--second-row);
}
.element:nth-child(21),
.element:nth-child(39) {
  grid-column: var(--third-row);
}

.atomic_number {
  font-size: 0.75em;
  text-align: left;
}

.atomic_mass {
  font-size: 0.5em;
}

.symbol {
  font-size: 1em;
  font-weight: 600;
  margin: 0.5rem 0;
}

.name {
  font-size: 0.5em;
}


  /* background-color: mediumseagreen;
  background-color: #eb120a;
  background-color: #d86800;
  background-color: #d8d400;
  background-color: #19d458;
  background-color: #252247;
  background-color: #24436b;
  background-color: #07968f;
  background-color: #2360af;
  background-color: #ca0ac1;
  background-color: #96007d; */